<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
	<title>Lido Waves</title>
</head>
<body>
	<div class="container">
	<div class="header">
		<h2>Dati piattaforma</h2>
	</div>

	<hr />

	<%= yield %>

	</div>
</body>
</html>